/******************************/
/* Création des variables */
/******************************/

:root {
    --width: 1220px;
    --rose: #d42b7d;
    --violet: #2a0649;
    --jaune: #ffd319;
}

html {
    box-sizing: border-box;
  }
  :before, *:after {
    box-sizing: inherit;
  }

/******************************/
/* Style qui ne change pas */
/******************************/

body {
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    font-size: 10em;
    color: var(--jaune);
}

h2 {
    margin: 7vh 0px;
    font-size: 5em;
    max-width: var(--width);
    margin-left: auto;
    margin-right: auto;
    color: var(--jaune);
}

h3 {
    font-size: 3em;
    color: var(--jaune);
}

p {
    font-size: 1.5em;
    line-height: 1.6;
    font-family: poppins;
}

a {
    text-decoration: none;
}

a:visited {
    color: white;
}

@media (max-width: 600px) {
    :root {
        --width:300px
    }

    h1 {
        font-size: 1.7em;
    }

    h2 {
        margin: 3vh 0px;
        font-size: 1.5em;
        max-width: var(--width);
        margin-left: auto;
        margin-right: auto;
    }

    h3 {
        font-size: 1.2em;
    }
    p {
        font-size: 1em;
        line-height: 1.2;
        margin: 10px;
    }
}

