/**************************************/
/* Style de la section "footer" */
/**************************************/

footer {
    background-color: black;
    color: white;
}

footer .lien h3 {
    margin: 30px 0px;
}

.lien {
    display: flex;
    justify-content: flex-start;
    max-width: var(--width);
    margin-left: auto;
    margin-right: auto;
    gap: 50px;
}

.flex_contact p{
    display: flex;
    align-items: center;
}

.flex_contact img {
    padding-right: 5px;
}

.droits {
    background-color: rgb(22, 22, 22);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}


@media (max-width: 600px) {
.lien div div p {
    margin-bottom:  30px;
}
}