/* Style du header */
/* .navPC, .navTEL {
    max-width: var(--width);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    padding: 20px 0px;
}

header {
    background-color: black;
    color: white;
}

header div {
    display: flex;
    gap: 50px;
}

h1 {
    margin-right: auto;
}

.navTEL {
    display: none;
} */


/* @media (max-width: 600px) {
    .navPC {
        display: none;
    }

    .navTEL {
        max-width: inherit;
        display: flex;
    }

    .foreground {
        width: 100%;
        padding: 0px 10%;
    }

    .background {
        overflow-y: hidden;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: black;
        z-index: 2;
        display: block;
        max-height: 100vh;
    }

    .background div img {
        margin-left: auto;
        padding: 11.2% 10%;
    }

    .centre-content, .centre-content p {
       display: block;
       text-align: center;
       margin: 100px 0px;
       font-size: 1.5em;
    }

    .hide {
        display: none;
    }
} */

body {
    background-color: var(--violet);
}

header {
    background-color: var(--rose);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    color: white;
    max-width: var(--width);
    margin: 0px auto;
    height: 10vh;
}

ul {
    padding: 0px;
    list-style: none;
    display: flex;
    gap: 20px;
    font-size: 1.5em;
}



nav:first-child {
    margin-right: auto;
}

#moi {
    display: flex;
    flex-direction: column;
    min-height: 90vh;
    background-color: var(--violet);
    max-width: var(--width);
    margin: 0px auto;
}

.texteDefil p {
    color: white;
    margin: 0;
}

.texteDefil span {
    position: relative;
    font-weight: bold;
    color: var(--rose);
}

.texteDefil span::before {
    content: "";
    right: -8px;
    top: 50%;
    transform: translateY(-45%);
    position: absolute;
    height: 30px;
    width: 2px;
    background-color: var(--rose);
    animation: blink 0.7s infinite;
}

.texteDefil span.stop-blinking::before {
    animation: none;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.content {
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 1; }

.boutonContainer {
    display: flex;
    gap: 20px;
}

.boutonContainer div {
    background-color: var(--rose);
    padding: 0px 10px;
}

h1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--jaune);
    margin: 0px;
}


.content span:nth-child(3) {
    font-size: 4em;
    color: var(--jaune);
    margin-top: 20px;
    margin-bottom: -15px;
}