/* Style du header */
.navPC, .navTEL {
    max-width: var(--width);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    padding: 20px 0px;
}

header {
    background-color: black;
    color: white;
}

header div {
    display: flex;
    gap: 50px;
}

h1 {
    margin-right: auto;
}

.navTEL {
    display: none;
}


@media (max-width: 600px) {
    .navPC {
        display: none;
    }

    .navTEL {
        max-width: inherit;
        display: flex;
    }

    .foreground {
        width: 100%;
        padding: 0px 10%;
    }

    .background {
        overflow-y: hidden;
        height: auto;
        position: absolute;
        top: 0%;
        bottom: 0%;
        left: 0%;
        right: 0%;
        background-color: black;
        z-index: 2;
        display: block;
    }

    .background div img {
        margin-left: auto;
        padding: 0px 10%;
    }

    .centre-content, .centre-content p {
       display: block;
       text-align: center;
       margin: 100px 0px;
       font-size: 1.5em;
    }

    .hide {
        display: none;
    }
}