body {
    background-color: var(--violet);
}

header {
    background-color: red;
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    color: white;
    max-width: var(--width);
    margin: 0px auto;
    height: 10vh;
}

ul {
    padding: 0px;
    list-style: none;
    display: flex;
    gap: 20px;
    font-size: 1.5em;
}

nav:first-child {
    margin-right: auto;
}

/* Partie mobile  */

.mobile {
    display: none;
    overflow: hidden;
}

.mobileBackHead {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: var(--width);
    margin: 0 auto;
}

.mobileBackHead ul {
    visibility: hidden;
}

.mobileFor {
    max-width: var(--width);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.mobileBack {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--rose);
    z-index: 3;
}

.mobileBackContent {
    display: flex;
    flex-direction: column;
    gap: 80px;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    font-size: 3.5em;
}

@media (max-width: 600px) {
    nav {
        display: none;
    }

    .mobile {
        display: block;
    }
}