
.wrapper {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
    scrollbar-width: none;
}

.wrapElement {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
    object-fit: cover;
}

.wrapbackground {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

.wrapbackground {
    transform: translateZ(-50px) scale(6);
}

.wrapper section {
    background-color: white;
}

.content {
    margin: 0px auto;
    max-width: var(--width);
}

.content h1 {
    padding-top: 2%;
}

#grid {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 60px;
    align-items: center;
}

#flex-collum {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2%;
}

#flex div img {
    max-width: 80px;
    width: 80px;
}

#flex div a {
    transition: 0.5s;
}

#flex div a:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.boutonSite {
    padding: 20px;
    background-color: black;
}

.centre {
    margin-left: 20%;
}


@media (max-width: 600px) {
    #grid {
        display: grid;
        grid-template-columns: 100%;
        gap: 0px;
        place-items: center;
    }

    #grid div img {
        max-width: 150px;
        width: 150px;
    }

    #grid div:last-child {
        display: grid;
        place-items: center;
        margin-bottom: 20px;
    }

    .centre {
        margin-left: inherit;
    }

    #flex div img {
        max-width: 35px;
        width: 35px;
    }

    .boutonSite {
        padding: 10px;
        background-color: black;
    }

    #flex-collum {
       display: grid;
       place-items: center;
       text-align: center;
    }
}