
.wrapper {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
    scrollbar-width: none;
}

.wrapElement {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
    object-fit: cover;
}

.background {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

.background {
    transform: translateZ(-50px) scale(6);
}

section {
    font-size: 1.4rem;
    padding: 1rem;
    background-color: white;
}

.content {
    margin-right: auto;
    margin-left: auto;
    max-width: var(--width);
}

#grid {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 60px;
    align-items: center;
}

#flex-collum {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#flex div img {
    max-width: 80px;
    width: 80px;
}

#flex div a {
    transition: 0.5s;
}

#flex div a:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.boutonSite {
    padding: 20px;
    background-color: black;
}

.centre {
    margin-left: 20%;
}