/************************/
/* Affichage bureau */
/************************/


/**************************************/
/* Style de la section "presentation" */
/**************************************/

#moi {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--violet);
    max-width: var(--width);
    margin: 0px auto;
}

.motCache {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 20px;
    overflow: hidden;
    font-family: poppins;
}

.motCache div {
    color: var(--blanc);
    font-size: 4em;
    font-weight: bold;
    transform: translateX(-150%);
    animation: droite 1s forwards;
}

@keyframes droite {
    0% {
        transform: translateX(-200%);
    }
    100%{
        transform: translateX(0%);
    }
}
.motCache div:nth-child(1){
    animation-delay: 2s;
}

.motCache div:nth-child(2){
    animation-delay: 3s;
}

.motCache div:nth-child(3){
    animation-delay: 4s;
}

h1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--jaune);
    margin: 0px;
    margin-top: -100px;
}

.content {
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 1;
}

.content > span {
    font-size: 4em;
    color: var(--jaune);
    margin-top: 20px;
    margin-bottom: -15px;
}

.contentFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.boutonContainer {
    display: flex;
    gap: 40px;
}

.boutonContainer div {
    display: inline-block;
    border: 2px solid var(--rose);
    padding: 0px 10px;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    box-shadow: inset 0 0 0 0 var(--rose);
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
}

.boutonContainer div:nth-child(1):hover{
    box-shadow: inset 0 100px 0 0 var(--rose);
}

.boutonContainer div:nth-child(2):hover{
    box-shadow: inset 300px 0 0 0 var(--rose);
}

.boutonContainer div p {
    display: flex;
    gap: 10px;
}

#flecheBas {
    animation: flecheBas 2s linear infinite;
}

@keyframes flecheBas {
    0% {
        transform: translateY(0px);
    }
    30% {
        transform: translateY(-5px);
    }
    70% {
        transform: translateY(10px);
    }
}

#flecheCote {
    animation: flecheCote 2s linear infinite;
}

@keyframes flecheCote {
    0% {
        transform: translateX(0px);
    }
    30% {
        transform: translateX(-5px);
    }
    70% {
        transform: translateX(10px);
    }
}


/**************************************/
/* Style de la section "parcours" */
/**************************************/

#parcours {
    color: white;
    background-image: url("../img/machambreNoir2.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: -2;
    background-color: var(--rose);
    min-height: 100vh;
}

#parcours h2 {
    padding-top: 3vh;
}

.date {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: var(--width);
    text-align: center;
    align-items: center;
    justify-content: space-between;
    height: auto;
}

.date span {
    color: var(--jaune);
}

.date div {
    max-width: 270px;
    padding: 0px 10px;
    border: 3px solid var(--rose);
    display: grid;
    place-items: center;
    overflow-wrap: break-word;
    background-color: var(--violet);
}

.animation1 {
    transform: translateX(-700px);
    transition: transform 2s;
}

.animation1.active {
    transform: translateX(0px);
    transition: 2s;
}

.animation2 {
    transform: translateX(-1200px);
}

.animation2.active {
    transform: translateX(0px);
    transition: 2s;
}

.animation3 {
    transform: translateX(-1700px);
}

.animation3.active {
    transform: translateX(0px);
    transition: 2s;
}


/**************************************/
/* Style de la section "bouton" */
/**************************************/

#bouton {
    margin: 10vh 0vh;
    margin-left: auto;
    margin-right: auto;
    max-width: var(--width);
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#bouton a {
    border: 1px solid var(--rose);
    padding: 10px;
}

#bouton a:hover, 
#bouton a:focus {
  animation: pulse 1s;
  box-shadow: 0 0 0 2.5em transparent;
}

@media (max-width: 600px) {

    .motCache div {
        display: none;
    }

    .contentFlex {
        margin-bottom: 50px;
    }

    .boutonContainer div a p img {
        width: 20px;
    }

    #presentation {
        grid-template-columns: 100%;
        max-width: var(--width);
        margin-left: auto;
        margin-right: auto;
        height: auto;
        justify-content: center;
        gap: 30px;
    }

    .content > span {
        margin: 0px;
    }

    .parent {
        width: 150px;
        height: 150px;
        background-image: url("../img/moi150x150.jpg");
    }

    .parent>div {
        width: 75px;
        height: 75px;
        background-color: black;
        position: absolute;
    }

    .bloc1 {
        transform: translate(-70%, 70%);
        z-index: -3;
    }

    .bloc2 {
        transform: translate(70%, -70%);
        z-index: -3;
    }

    .date {
        display: grid;
        place-items: center;
        margin-left: auto;
        margin-right: auto;
        max-width: var(--width);
        height: auto;
    }

    .date div {
        max-width: 200px;
        width: 200px;
        padding: 30px;
        margin: 20px;
        border: 1px solid white;
        display: grid;
        place-items: center;
        overflow-wrap: break-word;
    }

    .descend {
       margin-bottom: 50px;
    }

    .content > span {
        font-size: 2em;
        color: var(--jaune);
        margin-top: 20px;
        margin-bottom: -15px;
    }
}