/************************/
/* Affichage bureau */
/************************/


/**************************************/
/* Style de la section "presentation" */
/**************************************/

#presentation {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-between;
    max-width: var(--width);
    margin-left: auto;
    margin-right: auto;
    height: 70vh;
}

#presentation div {
    display: flex;
    align-items: center;
    justify-content: center;
}

#presentation div img {
    z-index: 3;
}

.parent {
    position: relative;
}

.parent {
    width: 300px;
    height: 300px;
    background-image: url("../img/moi300x300.jpg");
}

.parent>div {
    width: 200px;
    height: 200px;
    background-color: black;
    position: absolute;
}

.bloc1 {
    transform: translate(-40%, 40%);
    z-index: -3;
}

.bloc2 {
    transform: translate(40%, -40%);
    z-index: -3;
}

/**************************************/
/* Style de la section "parcours" */
/**************************************/

#parcours {
    color: white;
    background-image: url("../img/machambreNoir2.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: -2;
    background-color: var(--rose);
    min-height: 100vh;
}

#parcours h2 {
    padding-top: 3vh;
}

.date {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: var(--width);
    text-align: center;
    align-items: center;
    justify-content: space-between;
    height: auto;
}

.date span {
    color: var(--jaune);
}

.date div {
    max-width: 270px;
    padding: 0px 10px;
    max-height: 1500px;
    border: 3px solid var(--rose);
    display: grid;
    place-items: center;
    overflow-wrap: break-word;
    margin-bottom: 10vh;
    background-color: var(--violet);
}

/**************************************/
/* Style de la section "bouton" */
/**************************************/

#bouton {
    margin: 10vh 0vh;
    margin-left: auto;
    margin-right: auto;
    max-width: var(--width);
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#bouton a {
    background-color: black;
    padding: 20px;
}


@media (max-width: 600px) {
    #presentation {
        grid-template-columns: 100%;
        max-width: var(--width);
        margin-left: auto;
        margin-right: auto;
        height: auto;
        justify-content: center;
        gap: 30px;
    }


    .parent {
        width: 150px;
        height: 150px;
        background-image: url("../img/moi150x150.jpg");
    }

    .parent>div {
        width: 75px;
        height: 75px;
        background-color: black;
        position: absolute;
    }

    .bloc1 {
        transform: translate(-70%, 70%);
        z-index: -3;
    }

    .bloc2 {
        transform: translate(70%, -70%);
        z-index: -3;
    }

    .date {
        display: grid;
        place-items: center;
        margin-left: auto;
        margin-right: auto;
        max-width: var(--width);
        height: auto;
    }

    .date div {
        max-width: 200px;
        width: 200px;
        padding: 30px;
        margin: 20px;
        max-height: 240px;
        border: 1px solid white;
        display: grid;
        place-items: center;
        overflow-wrap: break-word;
    }

    .descend {
       margin-bottom: 50px;
    }
}